body {
	margin: 0;
	padding: 0;
	
	@screen lg {
		overflow: hidden; /* Hide scrollbars */
	}
}

.page-header {
	@supports (-webkit-appearance:none) {
		.os-android & {
		min-height: calc(100vh - 56px);
		}
	}
}

html {
	scroll-behavior: smooth;
}

.fixed-when-scroll {
	transition: all ease 350ms;
	@apply fixed !important;

	transform: translateY(-3.65rem) !important;

	@screen md {
		@apply hidden;
	}
}

[data-direction="up"] .fixed-when-scroll {
	transform: translateY(0px) !important;
}

button {
	border: none !important;
	outline: none !important;
	-webkit-appearance: none;
}

[class*='transition'] {
	@apply duration-300;
}

@responsive {
.h-screen-inner {
	height: calc(75vh);

	@screen md {
		height: calc(100vh - 103px);		
	}
}
}

.h-screen-inner-image {
	padding-top: calc(100vh - 100px);
}

.p-screen-inner {
	padding-top: calc(100vh - 100px);
}

.h-screen-no-header {
	height: calc(100vh - 105px);

	@screen md {
		height: calc(100vh - 130px);
	}
}

.image-reveal-scroll {
	/* margin: -30px; */
}

.image-transform-center {
	transform-origin: center center;
}

html.has-scroll-smooth {
	overflow: hidden;
}

html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.has-scroll-smooth body {
	overflow: hidden;
}

/* Specifying the scroll container manually */
.has-scroll-smooth #___gatsby,
.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh;
}

/* .c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100vh;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0;
}
.c-scrollbar:hover {
	transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
	opacity: 1;
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: theme('colors.black');
	opacity: 1;
	width: 7px;
	margin: 0px;
	cursor: -webkit-grab;
	cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
} */

.studio-image {
	height: 60vh;
}

.Collapse {
	background: none;
	/* border: 2px solid black; */
	/* padding: 20px 10px; */
	cursor: pointer;
	/* margin-bottom: 40px; */
  }
  .Collapse_Content {
	min-height: 0;
	height: 0;
  
	overflow: hidden;
  }
  .Collapse_Content > div {
	text-align: left;
  }
	   

.slideshow {
	margin-left: -63px;

	@screen md {
		/* width: 200%;
		margin-left: -50%;
		margin-right: -50%; */
		margin-left: 0px;
	}
}
  
.slide {
	align-items: center;
  	justify-content: center;
	width: 75vw;
	margin-right: 50px;
	height: auto;
	transition: opacity 650ms ease-in-out;

	@screen md {
		height: 400px;
		width: 42vw;
		margin-right: 8.5vw;
		/* padding-left: 30px; */
	}

	@screen lg {
		/* width: 37vw; */
	}
	
	@screen xl {
		width: 41vw;
		margin-right: 9.5vw;
	}

	@screen 2xl {
		width: 44vw;
		height: 480px;
	}

	@screen 3xl {
		width: 39vw;
		height: 26vw;
		margin-right: 9vw;
	}

	.slide__img {
		transition: all ease 650ms;
		height: 100vh;
		max-height: calc(68vh - 115px);
	

		@media screen and (device-aspect-ratio: 40/71) {
			max-height: calc(57vh - 115px);
		}

		@media screen and (device-aspect-ratio: 375/667) {
			max-height: calc(66vh - 115px);
		}

		@media screen and (device-aspect-ratio: 16/9) {
			max-height: calc(64vh - 115px);
		}

		@media screen and (device-aspect-ratio: 3/4) {
			height: 100vh !important;
			max-height: calc(55vh - 115px) !important;
		}


		@screen md {
			height: 100%;
			max-height: none;
		}
	}
}

.slide__link {
	&:after {
		content: " ";
		mix-blend-mode: multiply;
		@apply absolute top-0 left-0 right-0 bottom-0 w-full h-full bg-transparent z-30 opacity-0 transition duration-300 ease-in-out;
	}
}

.slide--deactive {
	opacity: 0.75 !important;

	.slide__img {
		-webkit-filter: grayscale(100%);
		mix-blend-mode: darken;
		background-blend-mode: darken;
	}
}

  
.slide--work {
	width: 65vw;
	margin-right: 2px;
	height: auto;
	padding-left: 0;

	@screen md {
		width: 50vw;
		margin-right: 5vw;
		padding-left: 0;
		height: 450px;
	}
	
	@screen xl {
		width: 60vw;
		margin-right: 6vw;
		padding-left: 0;
		height: 500px;
	}

	@screen 2xl {
		width: 60vw;
		margin-right: 6vw;
		padding-left: 0;
		height: 550px;
	}
}

/* .slider {
	animation: fadeIn 0.66s ease-out 0.45s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
} */

.home-arrow:hover {
	.home-arrow__easter-egg {
		animation: fadeIn 0.3s ease-out forwards;
	}
	.home-arrow__easter-egg--delay {
		animation: fadeIn 0.3s ease-out 0.15s forwards;
	}
}

.home-arrow__easter-egg {
	opacity: 0;
	transition: all ease 250ms;
	transform: translateY(20px)
}

@keyframes fadeIn {
    from { 
		opacity: 0;
		transform: translateY(20px)
	}
    to   {
		opacity: 1;
		transform: translateY(0px)
	}
} */

/* .slide {
	transition: opacity 2s ease-in-out;
	opacity: 0;
}

.slide.flickity-lazyloaded,
.slide.flickity-lazyerror {
	opacity: 1;
} */

.animation-overlay {
	animation: introBg 0.25s ease-out forwards;
}

@keyframes introBg {
	from { background: #fff; }
	to { background: theme('colors.prbred') }
}

.carousel-img {
	max-width: none !important;
	/* max-height: 80vw !important; */
	height: 100%;

	@screen md {
		/* max-height: 23vw !important; */
	}
}

.gallery-index-hidden-image {
	width: 12vw;
	max-width: 350px;
}
.home-slider {
	.flickity-viewport {
		/* margin-left: 17px; */

		@screen md {
			@apply h-full !important;
			/* margin-left: -20vw !important; */
		}
	}
}

video {
	object-fit: cover;
}

.flickity-slider {
	@apply flex flex-wrap items-center;
}


.team-member__inner {
	@apply opacity-100 relative;

	&:after {
		content: " ";
		mix-blend-mode: multiply;
		@apply absolute top-0 left-0 right-0 bottom-0 w-full h-full bg-transparent z-30 opacity-0;
	}
}

.team-member--active {
	.team-member__image {
		-webkit-filter: grayscale(100%);
		mix-blend-mode: darken;
		background-blend-mode: darken;
	}

	.team-member__inner {
		&:after {
			content: " ";
			@apply absolute top-0 left-0 right-0 bottom-0 w-full h-full bg-prbred z-10 opacity-100;
		}
	}
}

.team-member--deactive {
	@apply opacity-75;
	
	.team-member__image {	
		-webkit-filter: grayscale(100%);
		mix-blend-mode: darken;
		background-blend-mode: darken;
	}

	.team-member__inner {
		&:after {
			content: " ";
			mix-blend-mode: none;
			@apply absolute top-0 left-0 right-0 bottom-0 w-full h-full bg-black z-10 opacity-50;
		}
	}
}

.z-100 {
	z-index: 100 !important;
}

.\/ {
	position: relative;
	z-index: 20 !important;
}

.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-button{display: none !important;}